<!DOCTYPE html>
<html>
<head><title>Input Gaji John Travolta</title></head>
<body>
    <h2>Form Perhitungan Gaji & Tabungan</h2>
    <form action="/travolta/hitung" method="POST">
        <label>Total Jam Kerja:</label><br>
        <input type="number" name="jamKerja" value="52" required><br><br>
        <label>Total Pengeluaran (Rp):</label><br>
        <input type="number" name="pengeluaran" value="600000" required><br><br>
        <button type="submit">Hitung Hasil</button>
    </form>
</body>
</html>